---
layout: default
---

<div class="margin-bottom">
    <div class="clearfix title">
       <p class="date fl"> <span>{{ page.date | date: "%d" }}</span><br>{{ page.date | date: "%m" }}/{{ page.date | date: "%Y" }}</p>
        <h1 class="fl">{{ page.title }}</h1>
    </div>
    <div class="text">{{ page.content }}</div>
   <div class="clearfix item-foot">
        <div class="fl catalog">
        <a class="catalog-link" href="#">{{ page.category }}</a>
        {% for tag in page.tags %}
            <a class="tag-link" href="#">{{ tag }}</a>
        {% endfor %}        
        </div>
   </div>
</div>
{% include disqus.html %}